<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="edu.bit.ex.mapper.ListMapper">

<!-- 	<select id="getList" resultType="edu.bit.ex.vo.EmpVO">
		<![CDATA[
			select * from mvc_board order by bGroup desc, bStep asc
		]]>
	</select> -->
   
   <select id="getList" resultType="edu.bit.ex.vo.InfoVO">
		<![CDATA[
			select * from (select rownum as rnum, A. * from (select * from mvc_board3 order by bGroup desc, bStep asc) A where rownum <= #{nowPage} * #{amount} ) where rnum > (#{nowPage} - 1) * #{amount}
		]]>
	</select> 
	
	<select id="getTotal" resultType="int">
		<![CDATA[
			select count(*) from mvc_board3
		]]>
	</select>
	
	<select id="getContentView" resultType="edu.bit.ex.vo.InfoVO">
		<![CDATA[
			select * from mvc_board3 where bId=#{bId}
		]]>
	</select>
	
	<update id="modify" >
		<![CDATA[
			update mvc_board3 set bName=#{bName}, bTitle=#{bTitle}, bContent=#{bContent} where bId=#{bId}
		]]>
	</update>
	
</mapper>